.columns.is-mobile
  .column.is-one-fifth-desktop.is-offset-two-fifths-desktop.is-full-mobile
    %h1.title
      =t('devise.registrations.new-title')
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource

      .field
        %label.label
          = f.label :email
        .control.has-icons-left
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "input", type: "email"
          %span.icon.is-small.is-left
            %i.fas.fa-envelope
      .field
        %label.label
          = f.label :password
        %p.control.has-icons-left
          = f.password_field :password, autocomplete: "new-password", class: "input", type: "password"
          %span.icon.is-small.is-left
            %i.fas.fa-lock
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
      .field
        %label.label
          = f.label :password_confirmation
        %p.control.has-icons-left
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "input", type: "password"
          %span.icon.is-small.is-left
            %i.fas.fa-lock

      .actions.control
        = f.submit t('devise.registrations.new-btn'), class: 'button is-link'

