!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MNDLBRT
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/css?family=Comfortaa|Fira+Sans&display=swap", rel: "stylesheet"}/
  %body
    #header
      =link_to 'MNDLBRT', root_path, {id: 'logo'}
      #locales
        %li.nav-item
          = link_to "Рус", { locale: :ru }, class: "nav-link"
        %li.nav-item
          = link_to "En", { locale: :en }, class: "nav-link"
      #auth_buttons
        - if user_signed_in?
          %span
            = t('layouts.application.greetings')
            %span#email
              #{current_user.email}
          = link_to t('layouts.application.sign_out'), destroy_user_session_path, :method => :delete
        - else
          = link_to t('layouts.application.sign_in'), new_user_session_path
          или #{link_to t('layouts.application.sign_up'), new_user_registration_path}
    %p.notice= notice
    %p.alert= alert
    = yield
